html, body{
    min-height: 100vh;
    margin: 0;
    background-image: url('./image/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     background-attachment: fixed; /* Optional: makes the image fixed */
       font-family: 'Montserrat', sans-serif;
}
header{
    margin: 80px auto;
}
nav{
   
    display: flex;
    width: 50%;
    margin: 0 auto;
    gap: 40px;
    justify-content: center;
}
nav > button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
     font-family: "Roboto", serif;
    font-weight: 800;
}
nav > button:hover{
    color: #14bdac;
    scale: 1.1;
}
.background-image{
    width: 50px;
    height: 50px;
}
.home{
    display: flex;
    flex-direction: column;
   
}
.home>h1{
    font-size: 2.5rem;
    color: white;
    text-align: center;
      font-family: "Roboto", serif;
    font-weight: 800;
     font-style: italic;
}
.home>p{
    background-color: rgba(0, 0, 0, 0.562);
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 40%;
    display: flex;
    align-items: center;
    font-style: italic;
}
.home>button{
    background-color: #e85b30;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
     font-family: "Roboto", serif;
    font-weight: 800;
    justify-self: center;
    align-self: center;
}
.home>button:hover{
    background-color: #d04a1c;
    scale: 1.05;
    transition: 0.3s;
}
.contact>h1{
    font-size: 2.5rem;
    color: #ff6f61;
    text-align: center;
      font-family: "Roboto", serif;
    font-weight: 800;
     font-style: italic;
}
.contact>p{  
  background-color: rgba(0, 0, 0, 0.562);
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 40%;
    width: 80%;
    display: flex;
    align-items: center;
    font-style: italic;
    cursor: pointer;
  }
.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
.menu-item {
  background-color: #fff;
  cursor: pointer;
  border-radius: 12px;
  border-left: 6px solid #ff6f61;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 80%;
   margin-bottom: 20px;
}

.menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.menu-item h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
}

.menu-item p {
  font-size: 1rem;
  margin-bottom: 8px;
  line-height: 1.5;
}

.menu-item p:last-child {
  font-weight: bold;
  color: #2e7d32;
  font-size: 1.1rem;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 200px); /* Adjust height to fit header and footer */
}